extends ../layout

block content
  h1= title

  hr

  form#myForm
    table.table.table-md#myTable
      thead
        tr
          th= 'ID'
          th= 'Name'
          th= 'Department'
          th= 'Note'
          th= 'Check'
      tbody
        tr
          td= '123'
            input.form-control(type='hidden', value='123', name='userID')
          td= 'Tommy'
          td= 'IT'
          td
            input.form-control(type='text', value='This is note of Tommy', name='note')
          td
            input.form-control(type='checkbox', name='check')
        tr
          td= '456'
            input.form-control(type='hidden', value='456', name='userID')
          td= 'Sam'
          td= 'HR'
          td
            input.form-control(type='text', value='', name='note')
          td
            input.form-control(type='checkbox', name='check', checked)

    .col-12.mt-3
      .row
        input#add-btn.form-control.btn.btn-info(type='button', value='Submit')
    .mt-4
      h4= 'Submit data will be like'
      code= '[{"userID":"123","note":"This is note of Tommy","check":false},{"userID":"456","note":"","check":true}]'

  script(src='/js/datatable/submit-table.js')